package {{infoPackage}};

public class ApiInfo {

    public String getApiTitle() {
        return "{{appName}}";
    }

    public String getApiVersion() {
        return "{{appVersion}}";
    }

    public String getApiDescription() {
        return "{{appDescription}}";
    }
}