package {{apiConfigPackage}};

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.Primary;
import springfox.documentation.swagger.web.SwaggerResource;
import springfox.documentation.swagger.web.SwaggerResourcesProvider;
import springfox.documentation.swagger.web.UiConfiguration;
import springfox.documentation.swagger.web.UiConfigurationBuilder;
import springfox.documentation.swagger2.annotations.EnableSwagger2;

import java.util.ArrayList;
import java.util.List;


{{>generatedAnnotation}}
@Configuration
@EnableSwagger2
public class SwaggerUiConfig {

    @Primary
    @Bean
    public SwaggerResourcesProvider swaggerResourcesProvider() {
        return () -> {
            SwaggerResource generatedResource = new SwaggerResource();
            generatedResource.setName("generated");
            generatedResource.setSwaggerVersion("2.0");
            generatedResource.setLocation("/api-contract");

            List<SwaggerResource> resources = new ArrayList<>();
            resources.add(generatedResource);
            return resources;
        };
    }

    @Bean
    public UiConfiguration uiConfiguration() {

        return UiConfigurationBuilder.builder()
                .deepLinking(true)
                .displayOperationId(false)
                .validatorUrl(null)
                .build();
    }

}